<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Rust Eve</title>
  </head>
  <body>
    <h3>Rust EVEonline Character Sniffer</h3>
    <text>
        This will fetch all of your character, corporation and alliance data from ESI that your character has access to view.

        Click the "login" link below, sign in with SSO, then you will be given a unique token (not the same as the SSO access token). You can then share this token with whoever you like.
    </text>

    <p>Try going to <a href="/login">/login</a></p>
  </body>
</html>