<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>rust eve</title>
</head>
<body>
    <ul>
      {{#each items}}
         <li><a href={{this.url}}>{{this.display}}</a></li>
      {{/each}}
    </ul>
</body>
</html>
